<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.let.room.service.impl.EgovRoomMapper">
	<!-- 사용 가능한 외희실 목록을 모두 조회 (DEL_YN = 'N'인 경우만) -->
	<select id="selectRoomList"
		resultType="egovframework.let.room.service.EgovMeetingRoomVO">
		SELECT ROOM_ID as roomId, ROOM_NAME as roomName, EQUIPMENT_INFO as
		equipmentInfo, CAPACITY, LOCATION
		FROM MEETING_ROOM
		WHERE DEL_YN = 'N'
		ORDER BY ROOM_NAME ASC
	</select>

	<!-- 회의실 상세 정보를 roomId로 조회 -->
	<select id="selectRoomById" parameterType="long"
		resultType="egovframework.let.room.service.EgovMeetingRoomVO">
		SELECT *
		FROM MEETING_ROOM
		WHERE ROOM_ID = #{roomId}
	</select>

	<!-- 새로운 회의실 예약을 ROOM_RESERVATION 테이블에 등록  -->
	<insert id="insertReservation"
		parameterType="egovframework.let.room.service.EgovRoomReservationVO">
		INSERT INTO ROOM_RESERVATION (
		RESV_ID, 	-- 예약 고유 ID
		ROOM_ID, 	-- 예약한 회의실 ID
		USER_ID, 	-- 예약한 사용자 ID
		PURPOSE,	-- 용도, 목적
		START_TIME, -- 예약 시작 시간
		END_TIME,   -- 예약 종료 시간 
		STATUS,		-- 예약상태
		REG_DATE	-- 등록일
		) VALUES (
		ROOM_RESERVATION_SEQ.NEXTVAL,
		#{roomId},
		#{userId},
		#{purpose},
		#{startTime},
		#{endTime},
		#{status},
		SYSDATE
		)
	</insert>

	<!-- 내 예약 -->
	<select id="selectReservationsByUser"
	        parameterType="String"
	        resultType="egovframework.let.room.service.EgovRoomReservationVO">
	    SELECT 
	        R.RESV_ID AS resvId,
	        R.ROOM_ID AS roomId,
	        R.USER_ID AS userId,
	        R.PURPOSE AS purpose,
	        R.START_TIME AS startTime,
	        R.END_TIME AS endTime,
	        R.STATUS AS status,
	        R.REG_DATE AS regDate,
	        M.ROOM_NAME AS roomName
	    FROM 
	        ROOM_RESERVATION R
	    JOIN 
	        MEETING_ROOM M ON R.ROOM_ID = M.ROOM_ID
	    WHERE 
	        R.USER_ID = #{userId}
	    ORDER BY R.START_TIME DESC
	</select>


	<!-- 전체 예약 목록을 조회 (관리자 페이지 용도) -->
	<select id="selectAllReservations"
	        resultType="egovframework.let.room.service.EgovRoomReservationVO">
	    SELECT 
	        R.RESV_ID AS resvId,
	        R.ROOM_ID AS roomId,
	        R.USER_ID AS userId,
	        R.PURPOSE AS purpose,
	        R.START_TIME AS startTime,
	        R.END_TIME AS endTime,
	        R.STATUS AS status,
	        R.REG_DATE AS regDate,
	        M.ROOM_NAME AS roomName
	    FROM 
	        ROOM_RESERVATION R
	    JOIN 
	        MEETING_ROOM M ON R.ROOM_ID = M.ROOM_ID
	    ORDER BY R.RESV_ID DESC
	</select>
	
	<!-- 예약취소 -->
	<update id="updateReservationStatusToCancelled" parameterType="int">
	    UPDATE ROOM_RESERVATION
	    SET STATUS = 'CANCELLED'
	    WHERE RESV_ID = #{resvId}
	</update>
</mapper>